.App {
  text-align: center;
  position: fixed;
  height: 100%;
  width: 100%;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.bg {
  /* The image used */
  background-image: url("images/background_image/background_blue.jpeg");

  /* Full height */
  height: 100%;
  width :100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img {

}